.tile {
    height: 2rem;
    width: 2rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }

  .tile.black {
    background-color: #000000;
  }
  
  .tile.white {
    background-color: #ffffff;
  }
  
  .tile.available {
    background-color: #aaa7a7ce;
  }